.call {
   display: flex;
   align-items: center;
   justify-content: space-between;
   &-text {
      font-size: 14px;
      font-weight: 300;
      color: $white-text;
   }
   &-tel {
      font-size: 19px;
      font-weight: 700;
      color: $white-text;
      transition: all .3s;
      &:hover {
         color: $main-color;
      }
   }
}